html 
{
	background-color: #FFFFFF;	
}

body 
{
	font-family:Arial,helvetica,sans-serif;
	text-align:left;
	line-height: 1.3em;
	margin: 0 7px 0 7px;
	padding: 0;
}

/*** header ***/

div.main {
  background-image: url(header_rep.png);
  background-position: top;
  background-repeat: repeat-x;
  width: 100%;
  height: 90px;
  margin: 0;
  padding: 0;
}


div.main span.left 
{
    margin:0; padding:0;
    position:absolute;
    width:675px; height:90px;
    overflow:hidden;
}
div.main span.left span 
{
      display:block;
      position:absolute; left:0; top:0; z-index:1;
      width:675px; height:90px;
      margin:0; padding:0;
      background:url("header_left.png") top left no-repeat;
}

div.main span.right 
{
	white-space: nowrap;
	margin: 0; padding: 0;
	position: relative;
	float: right;
	width: 119px; height: 90px;
	overflow: hidden;
}

div.main span.right span 
{
  display:block;
  position:absolute; left:0; top:0; z-index:2;
  width:119px; height:90px;
  margin:0; padding:0;
  background:url("header_right.png") top left no-repeat;
}


/**** nav list ***/
ul#navlist
{
	white-space: nowrap;

	margin: 0;
	padding: 0;
	list-style-type: none;
	display: inline;
	text-indent: 0;
	
	display: inline;
	width: 100%;
	table-layout: fixed;	

}

ul#navlist li
{
display:inline;
}


ul#navlist a 
{ 
	padding: 3px 20px;
	margin: 3px 0px 3px 0px;
}

ul#navlist a:link, ul#navlist a:visited
{
color: #ffffff;
background-color: #003366;
text-decoration: none;
}

ul#navlist li#active a
{
background-color: #660066;
display:inline;
}

ul#navlist a:hover
{
color: #ffffff;
background-color: #336699;
text-decoration: none;
}

ul#navlist li#active a:hover
{
background-color: #990066;
display:inline;
}

/*** pages ***/
a img
{
	border: 0px;
}

div#screens div.item {
  float: left;
  padding-bottom: 2em;
  height: 230px;
  width: 280px;
  margin: 0 auto;
  text-align: center;
  display:block;
  position: relative;
  line-height: 1em;
}
div.item span {
  display: block;
  height: 3.1em;
  text-align: center;
  font-size: 0.9em;
}

div.cleaner { clear: both; width: auto; font-size: 0; line-height: 0; }


#footer {
/*border-top:1px solid black;*/
font-size:70%;
margin:0pt 1em;
padding:1em;
}
#hostlogo {
border-width:0pt;
float:right;
height:31px;
margin-right:2em;
width:88px;
}
#hostlogo img {
border:0pt none;
}